.loader {
    border: 16px solid #f3f3f3;
    /* Light grey */
    border-top: 16px solid #3498db;
    /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* #main{
    background-color: beige;
} */

.map{
    width: 100%;
    height: 250px;
}

img.icon {
    width: 20px;
    height: 20px;
}

button.icon {
    width: 20px;
    height: 20px;
    padding: 0px;
    box-sizing: content-box;
    vertical-align: top;
}

.details-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}
.details{
    
    /* background-color: gray; */
    flex: 1;
    min-height: 260px;
    max-height: 300px;
    
}

.mwe-popups.mwe-popups-is-tall .mwe-popups-discreet .mwe-popups-thumbnail{
    /* width: 215px; */
    height: 200px;

}

.mwe-popups .mwe-popups-thumbnail{
    object-fit: cover;
    outline: 1px solid rgba(0, 0, 0, 0.1);
}
img{
    border: 0;
    vertical-align: middle;
}

a{
    text-decoration: none;
    color: #0645ad;
    background: none;
}

.mwe-popups{
    font-size: 14px;
    line-height: 20px;

}

.mwe-popups.mwe-popups-is-tall .mwe-popups-extract{
    width: 215px;
    height: 180px;
    overflow: hidden; 
    float: left;

}
.mwe-popups .mwe-popups-extract{
    margin: 16px;
    display: block;
    color: #202122;
    text-decoration: none;
    /* position: relative; */
}